@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import "tailwindcss";

/* Define CSS variables globally */
:root {
  --font-body: 'Poppins', sans-serif;
  --color-primary: #857cf5;
  --breakpoint-3xl: 1920px;
}

@layer base {
  html {
    font-family: var(--font-body);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}
